Repository akeneo/pim-docs, pull requests merged in 2020-04, with the labels that each got.

#1445 Missing quote in the install command
  install_pim/manual/installation_ce.rst
Labels: Contribution

#1456 AOB-880: Update Onboarder install docs for 4.0
  onboarder/installation/index.rst
  onboarder/prerequisites/index.rst
Labels: onboarder, to review

#1457 AOB-880: Fix copy path in Onboarder install doc
  onboarder/installation/index.rst
Labels: onboarder, to review

#1458 Put the good bundle version
  onboarder/installation/index.rst
  onboarder/migrate/apply_patch/apply_patch_ee_flexibility.rst
  onboarder/migrate/apply_patch/apply_patch_ee_on_premise.rst
Labels: to review
